* {
	margin: 0;
	letter-spacing: 0;
}

h3 {
	text-align: center;
	margin: 0.5rem;
}

.field {
	text-align: center;
	margin: 0.5rem;
}

.histogram-title {
	display: inline-flex;
	background-color: #ebebeb;
}

.histogram {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin: 2rem 0rem;
}
