.player-charts-row {
	background-color: #f6f6f6;
}

.inactive {
	background-color: #f6f6f6;
	height: 0;
	padding: 0 10px;
	opacity: 0;
	box-sizing: border-box;
	overflow: hidden;
	transition: height 0.3s, padding 0.3s, opacity 1s;
}

.active {
	height: 1100px;
	padding: 10px 10px;
	opacity: 1;
	transition: height 0.3s, padding 0.3s, opacity 1s;
	/* display: grid; */
	/* place-content: center; */

	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	/* animation: fadeIn ease 1s; */
	/* transition: opacity 1s ease-in-out; */
}

.row-name {
	text-align: left;
	padding: 0.5rem;
	color: #0268d6;
}

.row-name:hover {
	cursor: pointer;
}

.row-header-name {
	text-align: left;
	padding: 0.5rem;
	/* color: white; */
}

.row-rank {
	text-align: center;
	padding: 0.5rem 0rem 0.5rem 2rem;
}

.row-stat {
	text-align: center;
	padding: 0.5rem;
}

.row-team {
	text-align: center;
	padding: 0.5rem;
}

.table-header {
	background-color: #e7e7e7;
	border-color: #e7e7e7;
	color: #545454;
}

.table-header:hover {
	cursor: pointer;
}

.table-row {
	border-bottom: 1px solid #e7e7e7;
	/* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
}

.Table {
	display: grid;
	place-items: center;
	margin-top: 5rem;
}

table {
	background-color: white;
	border-collapse: collapse;
	padding: 1rem;
	border-radius: 5px;
	width: 1200px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
}
